<h1>Assignment 3 workbook</h1>
<p>M. Phillips</p>
<p>F. X</p>
<p>J. X</p>

In [41]:
import plate_parser as pp

import pandas as pd

In [42]:
df = pd.read_csv('./data/applications.csv')
df

,plate,review_reason_code,customer_meaning,reviewer_comments,status
0,AZIZ714,2,LAST NAME,714 AREA CODE,N
1,BATBOX1,1,BATMOBILE (BATMAN) PLUS SHAPE OF VEHICLE (SCIO...,BOX,N
2,BBOMBS,2,NO MICRO AVAILABLE,BOMBS,N
3,BEACHY1,4,LOVE THE BEACH,BEACHY LOOKS LIKE BITCHY 1,N
4,BLK PWR5,2,STRENGTH OF FAMILY,BLACK POWER,N
...,...,...,...,...,...
23458,4KTMGAL,1,TO TRAILER MY KTM BIKE,FORKED(FUCKED) MY GAL. SHE DOES HAVE A KTM M/C...,Y
23459,88 CAP,2,88 CAPITAL,"88=HATE SYMBOL, NO 88 CAR ON ANI",N
23460,BLNT 4C,2,"MY LAST NAME, BLUNT","BLUNT FORCE (TRAUMA) KILLS PEOPLE, HIS LAST NA...",N
23461,VIBRATR,1,"VIBRATOR, IT IS FOR A HARLEY DAVIDSON WITH RUB...","VIBRATOR, SEXUAL CONNOTATION",N
23462,666KIDD,2,MY CHILDHOOD NICKNAME IS KID. I WANTED TO MAKE...,666 MARK OF THE BEAST,Y

In [43]:
df.status.unique()

array(['N', 'Y', 'REMOVE', nan, '1', '?', 'H', 'R', 'M', 'T'],
      dtype=object)

In [44]:
# Remove resolutions that aren't Y/N
df = df[(df.status == 'Y') | (df.status == 'N')]
df = df.reset_index(drop=True)
df

,plate,review_reason_code,customer_meaning,reviewer_comments,status
0,AZIZ714,2,LAST NAME,714 AREA CODE,N
1,BATBOX1,1,BATMOBILE (BATMAN) PLUS SHAPE OF VEHICLE (SCIO...,BOX,N
2,BBOMBS,2,NO MICRO AVAILABLE,BOMBS,N
3,BEACHY1,4,LOVE THE BEACH,BEACHY LOOKS LIKE BITCHY 1,N
4,BLK PWR5,2,STRENGTH OF FAMILY,BLACK POWER,N
...,...,...,...,...,...
23425,4KTMGAL,1,TO TRAILER MY KTM BIKE,FORKED(FUCKED) MY GAL. SHE DOES HAVE A KTM M/C...,Y
23426,88 CAP,2,88 CAPITAL,"88=HATE SYMBOL, NO 88 CAR ON ANI",N
23427,BLNT 4C,2,"MY LAST NAME, BLUNT","BLUNT FORCE (TRAUMA) KILLS PEOPLE, HIS LAST NA...",N
23428,VIBRATR,1,"VIBRATOR, IT IS FOR A HARLEY DAVIDSON WITH RUB...","VIBRATOR, SEXUAL CONNOTATION",N
23429,666KIDD,2,MY CHILDHOOD NICKNAME IS KID. I WANTED TO MAKE...,666 MARK OF THE BEAST,Y

In [45]:
df['Approved'] = 0

for i in range(len(df)):
    if df.loc[i, 'status'] == 'Y':
        df.loc[i, 'Approved'] = 1

df

,plate,review_reason_code,customer_meaning,reviewer_comments,status,Approved
0,AZIZ714,2,LAST NAME,714 AREA CODE,N,0
1,BATBOX1,1,BATMOBILE (BATMAN) PLUS SHAPE OF VEHICLE (SCIO...,BOX,N,0
2,BBOMBS,2,NO MICRO AVAILABLE,BOMBS,N,0
3,BEACHY1,4,LOVE THE BEACH,BEACHY LOOKS LIKE BITCHY 1,N,0
4,BLK PWR5,2,STRENGTH OF FAMILY,BLACK POWER,N,0
...,...,...,...,...,...,...
23425,4KTMGAL,1,TO TRAILER MY KTM BIKE,FORKED(FUCKED) MY GAL. SHE DOES HAVE A KTM M/C...,Y,1
23426,88 CAP,2,88 CAPITAL,"88=HATE SYMBOL, NO 88 CAR ON ANI",N,0
23427,BLNT 4C,2,"MY LAST NAME, BLUNT","BLUNT FORCE (TRAUMA) KILLS PEOPLE, HIS LAST NA...",N,0
23428,VIBRATR,1,"VIBRATOR, IT IS FOR A HARLEY DAVIDSON WITH RUB...","VIBRATOR, SEXUAL CONNOTATION",N,0
23429,666KIDD,2,MY CHILDHOOD NICKNAME IS KID. I WANTED TO MAKE...,666 MARK OF THE BEAST,Y,1

In [46]:
inputs = df[['plate', 'review_reason_code', 'Approved']].copy()
inputs

          plate review_reason_code  Approved
0       AZIZ714                  2         0
1       BATBOX1                  1         0
2        BBOMBS                  2         0
3       BEACHY1                  4         0
4      BLK PWR5                  2         0
...         ...                ...       ...
23425   4KTMGAL                  1         1
23426    88 CAP                  2         0
23427   BLNT 4C                  2         0
23428   VIBRATR                  1         0
23429   666KIDD                  2         1

[23430 rows x 3 columns]

In [47]:
inputs['PlateLen'] = 0

for i in range(len(df)):
    plate = inputs.loc[i, 'plate']
    inputs.loc[i, 'PlateLen'] = len(plate)

print(max(inputs.PlateLen))
print(min(inputs.PlateLen))
inputs

10
2

          plate review_reason_code  Approved  PlateLen
0       AZIZ714                  2         0         7
1       BATBOX1                  1         0         7
2        BBOMBS                  2         0         6
3       BEACHY1                  4         0         7
4      BLK PWR5                  2         0         8
...         ...                ...       ...       ...
23425   4KTMGAL                  1         1         7
23426    88 CAP                  2         0         6
23427   BLNT 4C                  2         0         7
23428   VIBRATR                  1         0         7
23429   666KIDD                  2         1         7

[23430 rows x 4 columns]